# --- Виртуальное окружение ---
venv/
.venv/
env/

# --- Базы данных ---
*.db
*.sqlite3
*.sqlite

# --- Python кэш и компилированные файлы ---
__pycache__/
*.py[cod]
*$py.class

# --- Ключи и настройки окружения ---
.env
.env.local

# --- Настройки редактора ---
.vscode/
.idea/

# --- Системные файлы  ---
.DS_Store
Thumbs.db

# --- Логи и отчеты об ошибках ---
pip-log.txt
*.log

# --- Прочее ---
build/
dist/
*.egg-info/
.mypy_cache/
.cache/
.coverage
htmlcov/