venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
pip-wheel-metadata/

pip-log.txt
.pytest_cache/
.coverage
htmlcov/
instance/
*.db
*.sqlite3
*.env
env/
.vscode/
.idea/
*.swp
.DS_Store
.mypy_cache/
.cache/
.ropeproject/
static/uploads/
*.so