<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <button id="theme-toggle" class="theme-toggle">🌙</button>

    <div class="container">
        <h1>🔑 Вход</h1>
        <form action="/login_user" method="post">
            <input type="text" name="login" placeholder="Ваш логин" required autocomplete="off">
            <input type="password" name="password" placeholder="Ваш пароль" required>
            <button type="submit" class="btn-main">Войти</button>
        </form>
        <a href="/register">Нет аккаунта? Регистрация</a>
    </div>

    <script src="/static/theme.js"></script>
</body>
</html>